@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

* {
    font-family: 'Nanum Myeongjo', serif;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.row{
    margin-top: 50px;
}


.bbsTitle{
    text-decoration: none;
    color: black;
}